<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yvantchoudie.digitalicqtutor">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DigitalICQTutor">
        <activity android:name=".AbstractActivity"></activity>
        <activity android:name=".ICQQuestionListActivity" />
        <activity android:name=".InfoMessageActivity" />
        <activity android:name=".DigitalICQTutorActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ICQListActivity" />
        <activity android:name=".ChoosingICQActivity" />
        <activity android:name=".ICQEvaluationActivity" />
        <activity android:name=".ICQQuestionEditActivity" />
    </application>

</manifest>